body > #root > div {
  height: 100vh;
  
}

.App {
  text-align: center;
}
html, body  {
  overflow: hidden;
  background-color: black;
}
.info{
  color: rgb(128,128,128);
  margin-top: 10px;
  /* background-color: bisque; */
}
.infoTable{
  color: rgb(128,128,128);
  /* background-color: green; */
  margin: auto;
  margin-bottom: 10px;
  text-align: right;

}
.settingsTable{
  float:left;
  color: rgb(128,128,128);
  /* background-color: green; */
  margin-left: 50px;
  margin-bottom: 10px;
  text-align: right;

}
.infoTable td {
  padding-left: 15px;
}

.tooltip {
  max-width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
